[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-nocaptcha-recaptcha = "*"
gunicorn = "*"
whitenoise = "*"
pillow = "*"
dj-database-url = "*"
easy-thumbnails = "*"
psycopg2-binary = "*"
lxml = "*"
requests = "*"

[requires]
python_version = "3.8"
