appdirs==1.4.3
Django==1.10.6
django-nocaptcha-recaptcha==0.0.19
easy-thumbnails==2.3
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-image-resize==1.1.2
pyuploadcare==2.1.0
requests==2.13.0
six==1.10.0
