<html>
    <head>
        <title>EPOS report for Ration</title>
    </head>
    <body>
        <h1>EPOS Report</h1>
        <label for="month"/>Month</label>
        <input type="number" name="month"/>
        <br/>
        <label for="year">Year</label>
        <input type="number" name="year"/>
        
        <table>
            <tr>
                <th></th>
                <th>Sales</th>
                <th>Daily</th>
            </tr>
            <tr>
                <th>PHH</th>
                <th><button>Here</button></th>
                <th><button>Here</button></th>
            </tr>
            <tr>
                <th>AAY</th>
                <th><button>Here</button></th>
                <th><button>Here</button></th>
            </tr>
        </table>
    </body>
</html>