{% extends '786ms/base.html' %}
{% load staticfiles %}
{% load add_css %}
{% block head_block%}
	<!--custom css-->
	<link rel="stylesheet" href="{% static 'home/css/home_main.css'%}"/>
{% endblock %}
{% block body_head_title%}
				<h1 class="heading col-xs-8 col-xs-offset-2">786 Multi Services<br>
				<small >Illia Road, Chandauli, U.P, India</small></h1>
{% endblock%}
{% block body_head_content %}
				<h4>We have all the services you need.</h4>
{% endblock%}
{%block js_include%}
		<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock%}
{% block body_block %}
	<div class="container">
		
		<div class="row section" id="services">
		<h4 class="heading">Services</h4>
		<div class="container">
			<div class="row">
				<div class="col-sm-4 ">
					<div class="shadow circle">
						
						<svg  height="160" width="160">
							<circle cx="80" cy="80" r="70" stroke="#f67280" stroke-width="2" style="fill:white" />
						</svg>
						<div class="circle-text"><br>
							<p>Travel Services</p>
							<i class="fa fa-train fa-lg"></i> <i class="fa fa-plane fa-lg"></i> <i class="fa fa-bus fa-lg"></i> <i class="fa fa-taxi fa-lg"></i>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="shadow circle">
						
						<svg  height="160" width="160">
							<circle cx="80" cy="80" r="70" stroke="#f67280" stroke-width="2" style="fill:white" />
						</svg>
						<div class="circle-text"><br>
							<p>Application Services</p>
							<i class="fa fa-institution fa-lg"></i> <i class="fa fa-graduation-cap fa-lg"></i> <i class="fa fa-file-text-o fa-lg"></i> <i class="fa fa-print fa-lg"></i>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="shadow circle">
						
						<svg  height="160" width="160">
							<circle cx="80" cy="80" r="70" stroke="#f67280" stroke-width="2" style="fill:white" />
						</svg>
						<div class="circle-text"><br>
							<p>Recharge Services</p>
							<i class="fa fa-credit-card fa-lg"></i> <i class="fa fa-mobile fa-lg"></i> <i class="fa fa-tablet fa-lg"></i>
						</div>
					</div>
				</div>
			</div>		
		</div>
		</div>
		<div class="row section" id="career">
		<h4 class="heading">Career</h4>
		<div class="container">
			<div class="row col-sm-8 col-sm-offset-2">
			<h4>Current openings</h4>
			<ul>
				<li>
					 <a href="career/trainer"><i class="fa fa-asterisk"></i> Computer Trainer</a> <span class="badge">New</span>
				</li>
				
			</ul>
			</div>
		</div>
		</div>
		<div class="row section" id="professionals">
		<h4 class="heading">Meet the professionals</h4>
		<div class="container">
		
		<div class="row">
			<div class="col-sm-4 col-xs-6">
				<div class="thumbnail">
					<img class="contact-img" src="{% static 'ms786/images/1.png' %}" alt="">
					<div >
						<h5 class="team-name">Diwan Akhlak Ahmed Khan <small>Managing Director</small></h5>
						<p>Owner and Managing Director of 786 Multi services</p>
						<a href="{{daakhan_fb}}" class="btn btn-contacts btn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="{{daakhan_tw}}" class="btn btn-contacts btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
			
			<div class="col-sm-4 col-xs-6">
				<div class="thumbnail">
					<img class="contact-img" src="{% static 'ms786/images/2.png' %}" alt="">
					<div class="caption">
						<h5 class="team-name">Sarfaraz Nawaz <small>Manager</small></h5>
						<p>Manager of 786 multi services</p>
						<a href="{{sarfaraz_fb}}" class="btn btn-contacts btn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="{{sarfaraz_tw}}" class="btn btn-contacts btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
			
			<div class="col-sm-4 col-xs-6">
				<div class="thumbnail">
					<img class="contact-img" src="{% static 'ms786/images/zeeshan.jpg' %}" alt="">
					<div class="caption">
						<h5 class="team-name">Zeeshan Khan <small>Designer</small></h5>
						<p>Designer of this website</p>
						<a href="{{zeeshan_fb}}" class="btn btn-contacts btn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="{{zeeshan_tw}}" class="btn btn-contacts btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<div class="row section" id="about">
		<h4 class="heading">About</h4>
		<div class="container">
			<div class="row col-sm-8 col-sm-offset-2">
				<p>786 Multi Services is a service provider, A Internet shop has been set up to serve people of Illia and nearby.</p>
			</div>
		</div>
		</div>
		<div class="row section" id="contact">
		<h4 class="heading">Feel free to contact Us</h4>
		<div class="container">
			<div class="col-md-10 col-lg-8 col-sm-12 col-md-offset-1 col-lg-offset-2">
				<form class="form" method="post" action=".">
					<div class="row">
						{% if success_msg %}
							<div class="alert alert-success">{{success_msg}}</div>
						{% endif %}
					</div>
					<div class="row">
						{% csrf_token %}
						<div class="col-sm-6">
							<div class="form-group {%if form.name.errors%}error{%endif%}">
								{{form.name}}
								{{form.name.errors}}
							</div>
							<div class="form-group {%if form.email.errors%}error{%endif%}">
								{{form.email}}
								{{form.email.errors}}
							</div>
							<div class="form-group">
								<div class="input-group"> 
									{{form.captcha}}{{form.captcha.errors}}	
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								{{form.message}}
								{{form.message.errors}}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 col-sm-offset-5">
							
						<div class="form-group">
							<button type="submit" class="btn btn-default" >Submit</button>
						</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
		</div>
{% endblock %}


