{%extends 'base.html' %}
{%load thumbnail%}

{% block js_include%}{% endblock%}
	
{% block body_block%}
	<div class="section">
		<h3 class="heading">Gallery</h3>
		<div class="container">
			{%for album in albums%}
				<div class="col-sm-4 col-sx-6"> 
					<a href="/album/{{album.pk}}">
						<div class="thumbnail ">
							<img src="{{album.photo_set.all.0.image|thumbnail_url:'thumb'}}"/>
							<div class="caption">
								<h4 class="heading">{{album.name}}</h4>
								{{album.description}}
							</div>
						</div>
					</a>
				</div>
			{%endfor%}
		</div>
	</div>
{% endblock %}
